URxvt*.transparent: false
URxvt.scrollBar:	false
URxvt*font:	        xft:ProFont:pixelsize=14:antialias=true:hinting=true
URxvt.foreground:	  [95]#D601A9
URxvt.background:   [95]#171717
URxvt.perl-ext-common:  ...,clipboard
URxvt.keysym.M-c	perl:clipboard:copy
URxvt.keysym.M-v	perl:clipboard:paste
