min_peers = 40
max_peers = 500
min_peers_seed = 10
max_peers_seed = 50
max_uploads = 15
download_rate = 500
upload_rate = 20
directory = ~/Torrents
session = ~/.rtorrent/session
port_range = 6890-6999
port_random = yes
check_hash = yes
use_udp_trackers = yes
encryption = allow_incoming,enable_retry
dht = auto
dht_port = 6890
peer_exchange = yes

ui.color.alarm.set = "124"
ui.color.complete.set = "bright white"
ui.color.even.set = "on 0"
ui.color.focus.set = "white on white"
ui.color.footer.set = "bold bright white"
ui.color.incomplete.set = "bright white"
ui.color.info.set = "default"
ui.color.label.set = "246"
ui.color.leeching.set = "bright cyan"
ui.color.odd.set = "on 0"
ui.color.progress0.set = "124"
ui.color.progress100.set = "228"
ui.color.progress120.set = "bold bright 47"
ui.color.progress20.set = "208"
ui.color.progress40.set = "178"
ui.color.progress60.set = "184"
ui.color.progress80.set = "191"
ui.color.queued.set = "on 0"
ui.color.seeding.set = "4"
ui.color.stopped.set = "bright white"
ui.color.title.set = "underline bold bright white"
